---
- name: Testing NFS Export operations
  hosts: localhost
  connection: local
  vars:
    onefs_host: '10.**.**.**'
    api_user: 'user'
    api_password: 'password'
    path: '/ifs/dir1'
    path_system: '/ifs/ansible_nfs_test'
    access_zone: 'DND-nfs-export-zone'
    client1: '10.23.23.10'
    client2: '10.23.23.11'
    client3: '10.23.23.12'
    client4: '10.23.23.13'
    verify_ssl: false

  tasks:
    - name: Create the filesystem in non-system access zone
      dellemc.powerscale.filesystem:
        onefs_host: "{{ onefs_host }}"
        verify_ssl: false
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        owner:
          name: 'Guest'
          provider_type: 'local'
        state: 'present'

    - name: Create the filesystem in System access zone
      dellemc.powerscale.filesystem:
        onefs_host: "{{ onefs_host }}"
        verify_ssl: false
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        path: "{{ path_system }}"
        owner:
          name: 'sample_user_1'
        state: 'present'

    - name: Create NFS Export in non-system access zone
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        read_only_clients:
          - "{{ client1 }}"
          - "{{ client2 }}"
        read_only: true
        clients: ["{{ client3 }}"]
        client_state: 'present-in-export'
        ignore_unresolvable_hosts: true
        map_lookup_uid: true
        map_failure:
          enabled: false
        file_name_max_size:
          size_value: 255
          size_unit: B
        block_size:
          size_value: 8192
          size_unit: B
        directory_transfer_size:
          size_value: 4096
          size_unit: B
        read_transfer_max_size:
          size_value: 65536
          size_unit: B
        read_transfer_multiple:
          size_value: 4096
          size_unit: B
        read_transfer_size:
          size_value: 32768
          size_unit: B
        write_transfer_max_size:
          size_value: 65536
          size_unit: B
        write_transfer_multiple:
          size_value: 4096
          size_unit: B
        write_transfer_size:
          size_value: 32768
          size_unit: B
        max_file_size:
          size_value: 1099511627776
          size_unit: B
        commit_asynchronous: false
        setattr_asynchronous: false
        readdirplus: true
        return_32bit_file_ids: false
        can_set_time: true
        symlinks: true
        write_filesync_action: FILESYNC
        write_filesync_reply: FILESYNC
        write_datasync_action: DATASYNC
        write_datasync_reply: DATASYNC
        write_unstable_action: UNSTABLE
        write_unstable_reply: UNSTABLE
        encoding: utf-8
        time_delta:
          time_value: 1.0
          time_unit: seconds
        state: 'present'

    - name: Get NFS Export details - {{ path }}
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        state: 'present'

    - name: Create NFS Export in System access zone
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path_system }}"
        read_only_clients:
          - "{{ client1 }}"
        read_only: true
        client_state: 'present-in-export'
        security_flavors:
          - "unix"
          - "kerberos"
        map_lookup_uid: false
        block_size:
          size_value: 4096
          size_unit: B
        time_delta:
          time_value: 0.5
          time_unit: seconds
        state: 'present'

    - name: Get NFS Export details - {{ path_system }}
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path_system }}"
        state: 'present'

    - name: Add a root client
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        root_clients:
          - "{{ client4 }}"
        client_state: 'present-in-export'
        state: 'present'

    - name: Set sub_directories_mountable flag to true
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        sub_directories_mountable: true
        state: 'present'

    - name: Remove a root client
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        root_clients:
          - "{{ client4 }}"
        client_state: 'absent-in-export'
        state: 'present'

    # This task will replace existing read only clients,
    # client1 and client2 with client3 and client4
    - name: Replace existing readonly clients
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        read_only_clients:
          - "{{ client3 }}"
          - "{{ client4 }}"
        read_only: true
        state: 'present'

    - name: Modify description and security_flavors
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        description: "new description"
        security_flavors:
          - "kerberos_privacy"
        ignore_unresolvable_hosts: false
        state: 'present'

    - name: Set read_only flag to false
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        read_only: false
        state: 'present'

    - name: Set map_root and map_non_root
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        map_root:
          user: "test_user_1"
          primary_group: group3
          secondary_groups:
            - name: group1
              state: absent
        map_non_root:
          enabled: true
          user: "test_user"
          primary_group: group1
        state: "present"

    - name: Disable map_non_root
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        map_non_root:
          enabled: false
        state: "present"

    - name: Delete NFS Export
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        state: 'absent'

    - name: Delete NFS Export in System access zone
      dellemc.powerscale.nfs:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path_system }}"
        state: 'absent'

    - name: Delete the Filesystem of non-system access zone
      dellemc.powerscale.filesystem:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path }}"
        access_zone: "{{ access_zone }}"
        state: "absent"

    - name: Delete the Filesystem of system access zone
      dellemc.powerscale.filesystem:
        onefs_host: "{{ onefs_host }}"
        api_user: "{{ api_user }}"
        api_password: "{{ api_password }}"
        verify_ssl: false
        path: "{{ path_system }}"
        state: "absent"
