---
- name: S3 Key Module Operations on PowerScale Storage
  hosts: localhost
  connection: local
  vars:
    onefs_host: "**.**.**.**"
    port_no: "0000"
    api_user: "user"
    api_password: "pass"
    verify_ssl: false
    access_zone: "sample-zone"
    user: "sample-user"

  tasks:
    - name: Create S3 Key - Check_mode
      powerscale_s3_key:
        onefs_host: "{{onefs_host}}"
        port_no: "{{port_no}}"
        api_user: "{{api_user}}"
        api_password: "{{api_password}}"
        verify_ssl: "{{verify_ssl}}"
        access_zone: "{{access_zone}}"
        user: "{{user}}"
        state: "present"
      check_mode: true

    - name: Create S3 Key - if not present
      powerscale_s3_key:
        onefs_host: "{{onefs_host}}"
        port_no: "{{port_no}}"
        api_user: "{{api_user}}"
        api_password: "{{api_password}}"
        verify_ssl: "{{verify_ssl}}"
        access_zone: "{{access_zone}}"
        user: "{{user}}"
        state: "present"
        generate_new_key: "if_not_present"

    - name: Create S3 Key - even if already present
      powerscale_s3_key:
        onefs_host: "{{onefs_host}}"
        port_no: "{{port_no}}"
        api_user: "{{api_user}}"
        api_password: "{{api_password}}"
        verify_ssl: "{{verify_ssl}}"
        access_zone: "{{access_zone}}"
        user: "{{user}}"
        state: "present"
        generate_new_key: "always"

    - name: Create S3 Key - even if already present, expire old key after 30 min
      powerscale_s3_key:
        onefs_host: "{{onefs_host}}"
        port_no: "{{port_no}}"
        api_user: "{{api_user}}"
        api_password: "{{api_password}}"
        verify_ssl: "{{verify_ssl}}"
        access_zone: "{{access_zone}}"
        user: "{{user}}"
        state: "present"
        generate_new_key: "always"
        existing_key_expiry_minutes: 30

    - name: Delete S3 Key
      powerscale_s3_key:
        onefs_host: "{{onefs_host}}"
        port_no: "{{port_no}}"
        api_user: "{{api_user}}"
        api_password: "{{api_password}}"
        verify_ssl: "{{verify_ssl}}"
        access_zone: "{{access_zone}}"
        user: "{{user}}"
        state: "absent"
